.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  width: 730px;
  position: absolute;
  left: 64px;
  align-self: center;
  z-index: 1;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  align-items: flex-end;
  top: 64px;
  right: 0;
  z-index: 0;
}

/* Description */

.description {
  margin: 0;
  padding-top: 100px;
  display: flex;
  position: relative;
}

.two-columns {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Digits */
.digits {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}


/* Feynman */
.feynman {
  padding-top: 100px;
  height: 790px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.feynman__headers {
  margin: 0 auto;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  width: 648px;
  margin: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px 0 0 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

/* Kaufman */
.kaufman {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  margin: 0;
  right: -210px;
  z-index: 0;
}

.section-title_theme_dark {
  margin: 90px auto 20px;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  margin: 0 auto;
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 1;
  margin-top: 80px;
  margin-right: 0;
}

/* Footer */

.footer {
  position: relative;
  background-color: #1f1f1f;
  margin: 0;
  display: flex;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 18px 0;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  padding: 20px 0 16px 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding: 0 10px 0 0;
}

